 <!-- Nav Bar Start -->
            <div class="nav-bar">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                        <a href="https://www.tiusaktijaya.com/" class="navbar-brand">
                        <img src="img/logoputih.png?v=1.2" alt="Logo" style="max-height: 50px;">
                        </a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto">
                                <a href="https://www.tiusaktijaya.com/" class="nav-item nav-link active">Beranda</a>
                                <a href="tentang" class="nav-item nav-link">Tentang</a>
                                <a href="layanan" class="nav-item nav-link">Layanan</a>
                                <a href="tim" class="nav-item nav-link">Tim</a>
                                <a href="proyek" class="nav-item nav-link">Proyek</a>
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Halaman</a>
                                    <div class="dropdown-menu">
                                        <a href="blog" class="dropdown-item">Halaman Blog</a>
                                        <a href="single" class="dropdown-item">Halaman Detail</a>
                                    </div>
                                </div>
                                <a href="kontak" class="nav-item nav-link">Kontak</a>
                            </div>
                            <!--
                            <div class="ml-auto">
                                <a class="btn" href="https://htmlcodex.com/construction-company-html-template">Download Pro Version</a>
                            </div>
                            -->

                        </div>
                    </nav>
                </div>
            </div>
            <!-- Nav Bar End -->